<!DOCTYPE html>
<html>
<head>
	<title>Config</title>
 <!-- Latest compiled and minified CSS -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script src="../js/custom.js"></script> 

<link rel="stylesheet" type="text/css" href="../css/custom.css">

</head>
<body class='hide' onload="getallImages();">

<div class="page-header">
<div class="page-header-container">
  <a href="option.html">
  <img src="../images/logo.png" class="image-logo"/ height="30px"></a>
  <button href="#" class="btn btn-primary pull-right" onclick="logout();">Sign out</a>
</div>
</div>


<div class="col-md-12" id="list-image-details">

  
</div>



<div class="modal fade" id="myModal" role="dialog">

</div>




</body>
</html>
